@import "./sass/helpers/variables";

$float_left: right;
$float_right: left;

$text_right: left;
$text_left: right;

.header {
  .logo {
    @media #{$minMedium} {
      float: $float_left;
      text-align: $text_left;
    }
    .the-toggle{
        right: auto;
        left:15px;

    }
  }
  .navbar {
    @media #{$minMedium} {
      float: $float_left;
    }

    li {
      float: $float_left;
    }
  }
}

// Start Services
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float_left;
    }
  }
}
// End Services

// Start Players
.players {
  .player-box {
    @media #{$minSmall} {
      float: $float_left;
    }
  }
}
// End Players
// Start Lorem
.lorem {
  .lorem-box {
    @media #{$minSmall} {
      float: $float_left;
    }
  }
}
// End Lorem

.footer {
  .gallery,
  .info,
  .contact {
    float: $float_left;
  }
  .gallery {
    .img-box {
      img {
        @media #{$minSmall} {
          float: $float_left;
        }
      }
      .text {
        @media #{$minSmall} {
          float: $float_left;
        }
      }
    }
  }

  .img-box {
    img {
      @media #{$minSmall} {
        float: $float_left;
      }
    }
    .text {
      @media #{$minSmall} {
        float: $float_left;
      }
    }
  }
}

.copyright {
  .text,
  .author {
    float: left;
  }
  .author {
    text-align: $text_right;
  }
}
